Django>=3.0,<4.0
mysqlclient==2.0.1
requests
google-cloud-bigquery==1.25.0
google-cloud-secret-manager==2.9.2
jinja2
google-cloud-storage
sqlalchemy==1.3.5
https://storage.googleapis.com/noon-toolbox/2019/python-noonhelpers/noonhelpers-master.tar.gz?cb=5
https://storage.googleapis.com/noon-toolbox/perm/python-noonutil/noonutil-v258.tar.gz
Babel
pydantic
mysql-connector-python==8.0.27

